body {
  font-family: "Sawarabi Gothic", sans-serif !important;
}

.carousel-item {
  max-height: 575px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.75);
  padding-left: 3px;
  padding-right: 3px;
}