body {
  font-family: "Sawarabi Gothic", sans-serif !important;
}

.carousel-item {
  max-height: 575px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.75);
  padding-left: 3px;
  padding-right: 3px;
}

.kitchen-img {
  background-image: url($baseurl+"/assets/images/kitchen-min-2.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 30em;
  padding-top: 15em;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.logo-img {
  background-image: url($baseurl+"/assets/images/logo-min-2.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 30em;
  padding-top: 20em;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.about-text {
  text-align: right;
  color: whitesmoke;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.6);
}

.center {
  text-align: center;
}

.margin-2 {
  margin: 2em;
}

.height-300 {
  height: 300px !important;
}

.mobile-show {
  display: none;
}

.mt-1 {
  margin-top: 1em !important;
}

.mt-2 {
  margin-top: 2em !important;
}

/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) { 
  .mobile-show {
    display: inline;
  }
}